body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.navbar{
	position: sticky;
	top: 0;
	z-index: 999;
}
.navbar ul{
	list-style: none;
	background-color: #333333;
	padding: 0;
	margin: 0;
	text-align: center;
}
.navbar li{
	display: inline-block;
}
.navbar a{
	text-decoration: none;
	color: white;
	width: 200px;
	display: block;
	padding:  18px 20px;
	font-size: 20px;
	text-align: center;
}
.navbar a:hover{
	background-color: black;
}
.image-slideshow{
	width: 100%;
	margin: auto;
	padding-bottom: 50%;
	overflow: hidden;
	position: relative;
}
.image-slideshow img{
	position: absolute;
	animation: image-slideshow 6s infinite;
	opacity: 0;
	width: 100%;
	height: auto;
}
@keyframes image-slideshow{
	25%{opacity: 1;}
	40%{opacity: .70;}
}
.image-slideshow img:nth-child(4){
	animation-delay: 0s;
}
.image-slideshow img:nth-child(3){
	animation-delay: 3s;
}
.image-slideshow img:nth-child(2){
	animation-delay: 6s;
}

.image-slideshow img:nth-child(1){
	animation-delay: 9s;
}

.about{
	position: relative;
	margin: auto;
	width: 98%;
	overflow:scroll;
	background-color: #f2f2f2;
	margin-top: 20px;
	
}
.about h3{
	margin-left: 3.33%;
}
.about1{
	width: 30%;
	height: 100px;
	float: left;
	margin-left: 3.33%;
}
.about2{
	width: 30%;
	height: 100px;
	float: right;
	margin: auto;
}
.about3{
	width: 30%;
	height: 100px;
	float: right;
	margin-right: 3.33%;
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	table, thead, tbody, td, tr { 
		display: block; 
	}
	th {
		display: none;
	}
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr { 
		border: 1px solid #ccc; 
	}
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	td:before { 
		position: absolute;
		left: 10px;
		white-space: nowrap;	
	}

	.navbar a{
		padding:  3px 3px;
		font-size: 12px;
		text-align: center;
	}
}